<div class="game-round-container">
    <p class="date-time">{{ game.date }}</p>
    <div class="game-round">
        <div class="player {{ game.winner == 1? 'winner' : ''}}">
            <p class="name">{{ game.player_one.fname }} {{ game.player_one.lname }}</p>
            <p class="symbol">{{ game.move_one }}</p>
        </div>
        <div class="vs">VS</div>
        <div class="player {{ game.winner == 2? 'winner' : ''}}">
            <p class="name">{{ game.player_two.fname }} {{ game.player_two.lname }}</p>
            <p class="symbol">{{ game.move_two }}</p>
        </div>
    </div>
    <form action="get" class="remove-form">
        <label>Delete Game: </label>
        <input class="remove-submit" type="submit" name="remove" value="{{ game.game_id }}">
    </form>
</div>
